doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Super Bank
    link(rel='stylesheet', href='./css/app.css')
  body
    h1 Super Bank
    #wrapper
      #input
        #runningBalance
          span Current Balance: $
          span#balance
        #inputBox

          input.inputBox
          button.button.withdrawl Withdrawl
          button.button.deposit Deposit


      #ledger
        table#ledgerTable
          thead
            tr
              th Fee
              th Deposit
              th Withdrawl
              th Balance
          tbody

    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/source/main.js')
